# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.manifest
*.spec

# Environments
.env
.venv/
.env.*
!.env.example
!.env.test

# PyInstaller
.pytest_cache/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log

# Examples
examples/